@import url('https://fonts.googleapis.com/css?family=Roboto:700|Montserrat:400');


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* board style */

.board-container {
  height: 100vh;
  background-color: #f8f8f8;
}

.top-bar-container {
  width: 100%;
  background-color: white;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.4);
  padding: 0 180px;
  z-index: 99;
  margin-bottom: 3px;
}

.top-bar {
  background-color: white;
  color: lightgray;
  height: 50px;
  align-items: center;
}

.list-name {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
}

.list-container {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 180px 0 180px;
  display: flex;
  flex-direction: column;
}
/* column style */

.list-column {
  height: 100vh;
  background-color: #f8f8f8;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 !important;
  flex-grow: 1;
}

/* tasks style */

.task-card {
  border-radius: 3px;
  min-height: 200px;
  margin: 15px 0;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.task-card-title {
  background-color: #f2ba41;
  color: white;
  letter-spacing: 1px;
  font-family: 'Roboto';
  font-weight: bold;
  padding: 5px 8px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task-card-title p {
  margin: 0 !important;
}
.task-card-description {
  color: dark-grey;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat';
  text-align: left;
  padding: 10px;
}

/* task adder style */

.task-adder {
  border-radius: 3px;
  min-width: 160px;
  position: fixed;
  z-index: 98;
  top: 10px;
  left: 10px;
  margin: 15px 0;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}

.task-adder-label {
  color: darkgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-weight: bold;
  font-family: 'Roboto';
}

.task-adder-label p {
  margin: 0 !important;
}

.task-adder-form {
  padding: 5px 15px;
}

.submit-btn {
  width: 100%;
  margin-top: 5px;
}

textarea {
  resize: none !important;
  align-items: center;
  margin-top: 5px !important;
}
